.box {
  display: none;
  width: 500px;
  height: 500px;
  background-color: #999;

  &.show {
    display: block;
  }

  &.danger {
    background-color: red;
  }

  p {
    &.big {
      font-size: 30px;
    }
  }
}